<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MakeMyTrip Automation Test Suite">

    <!--	<listeners>-->
    <!--		<listener class-name="aes.erp.ExtentReportListener.ExtentReporterNG"/>-->
    <!--    </listeners>-->

    <test name="MakeMyTrip Test Cases for Dashboard/home screen">
        <classes>
            <class name="org.example.Page.MainDashboardPage"></class>
        </classes>
    </test>
</suite>
